<nav>
  <div class="nav-wrapper" id = "nav">
    <a href="/" class="brand-logo">News Glimpse</a>
  </div>
</nav>
<div class="container">
  <div class = "row" id = "content">
    <div class = "col s1 m3 l2" id = "left">
        <i id = "previous" class=" large material-icons center-align">skip_previous</i>
    </div>
    <div class="col s10 m6 l8">
      <div class = "valign-wrapper">
        <div class="card blue-grey darken-1" id = "news">
          <div class="card-content white-text" id = "storyInfo">
            <span class="card-title" id = "storyHeadline">Card Title</span>
            <p id = "summary">I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
            <a class="waves-effect waves-light btn" id = "storyLink" href = "">Read full story</a>
            <div class = "divider" style = "margin-top: 10px;"></div>
            <span class = "card-title">Comments</span>
            <div class = "comments">

            </div>
            <div class = "divider"></div>
            <span class = "card-title">Add Comment</span>
            <textarea id="commentAdded" placeholder = "your comment here" type="text"  class="materialize-textarea" ></textarea>
          </div>
          <div class="card-action" id = "cardBottom">
            <btn class="waves-effect waves-light btn" id = "postNote">Post a comment</btn>
            <btn class="waves-effect waves-light btn" id = "removeNote">Remove comment</btn>
            <btn id = "scrape" class = "waves-effect wave-light btn">Get latest story</btn>
          </div>
        </div>
      </div>
    </div>
    <div class="col s1 m3 l2" id = "right">
        <i id = "next" class="large material-icons center-align">skip_next</i>
    </div>
  </div>
</div>
<script type = "text/javascript" src = "/assets/js/sweetalert.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type = "text/javascript">
  $(document).ready(function(){
    var articleList = [];
    $.getJSON('/articles', function(data) {
      // for each one
      for (var i = 0; i<data.length; i++){
        articleList.push(data[i]);
      }
      var firstStory = articleList.length - 1;
      var currentID = articleList[firstStory]._id;
      function populate() {
        $("#storyHeadline").text(articleList[firstStory].title);
        $('#summary').text(articleList[firstStory].summary);
        $('#storyLink').attr('href', articleList[firstStory].link);
      }
      populate();
      function getComment() {
        $.ajax({
          method: "GET",
          url: "/articles/" + currentID,
        }).done(function(data) {
          console.log(data);
          // if there's a note in the article
          if(data.comments){
            console.log('should have input the comment');
            // place the title of the note in the title input
            $('.comments').html('<p>'+data.comments.body+'</p>');
          }
          else {
            console.log("there isn't a comment");
            $('.comments').html("<p>There aren't any comments for this story yet. Care to add one?</p>");
          }
        });
      }
      getComment();
      $('#next').on('click',function(){
        if (firstStory > 0) {
          firstStory--;
          currentID = articleList[firstStory]._id;
          populate();
          getComment();
        }
        else {
          firstStory = articleList.length-1;
          currentID = articleList[firstStory]._id;
          populate();
          getComment();
        }
      });
      $('#previous').on('click',function(){
        if (firstStory < articleList.length - 1){
          firstStory++;
          currentID = articleList[firstStory]._id;
          populate();
          getComment();
        }
        else {
          firstStory = 0;
          currentID = articleList[firstStory]._id;
          populate();
          getComment();
        }
      })
      $('#postNote').on('click',function(){
        var currentID = articleList[firstStory]._id;
        console.log("clicked")
        $.ajax({
           method: "POST",
           url: "/articles/" + currentID,
           data: {
             body: $('#commentAdded').val() // value taken from notetextarea
           }
         }).done(function( data ) {
           console.log(data);
           articleList[firstStory].comments._id = data._id;
           console.log(articleList[firstStory]);
           $('#commentAdded').val('');
           getComment();
           });

      });

      $('#removeNote').on('click',function(){
        var currentID = articleList[firstStory]._id;
        var commentID = articleList[firstStory].comments;
        console.log(commentID);
        $.ajax({
           method: "POST",
           url: "/delete/" + currentID,
           data: {
             currentID: currentID,
             commentID: commentID
           }
         }).done(function( data ) {
           console.log(data);
           getComment();
           });
      });

      $('#scrape').on('click', function(){
        $.ajax({
          method: "GET",
          url: '/scrape'
        }).done(function(data){
          if (data) {
            sweetAlert("Oops...", "Someone already added the lastest article!", "error");
          }
        });
      });
    });
    console.log(articleList);

  });
</script>
